@page "/counter"
@page "/counter2"

@rendermode InteractiveServer
@using CSLLMCapstone.Models
@using CSLLMCapstone.Services
@using System.Threading.Tasks
@inject DbService dbService
@inject LLMService llmService

<PageTitle>Counter</PageTitle>

<h1>llm</h1>

<div class="mb-3">
    <label>Query:</label>
    <InputText @bind-Value="queryText" class="form-control" />
</div>

<div class="mb-3">
    <label>Keyword:</label>
    <label>@res</label>
</div>

<div class="mb-3">
    <label>Description:</label>
    <label>@test2</label>
</div>

<button class="btn btn-primary" @onclick="Query">Click me</button>

@code {

    private string queryText = "";

    private List<Tuple<string, string>> response = new List<Tuple<string, string>>();
    private string res = "";

    private string test1 = "";
    private string test2 = "";

    private async Task Query()
    {
        int courseId = 427;
        List<string> topics = await dbService.GetTopicNamesByCourseIDAsnyc(courseId);
        string? courseName = await dbService.GetCourseNameByCourseIdAsync(courseId);
        string? courseDesc = await dbService.GetCourseDescriptionByCourseIdAsync(courseId);
        LLM llm = new LLM(InstanceType.Quiz);
        string? history = null;

        res = await llmService.GenerateQuizDataValidatedJSONAsync(llm, courseName ?? "No Course Name", courseDesc ?? "No Course Description", topics, history ?? null);

        //test1 = response[0].Item1;
        //test2 = response[0].Item2;


    }
}
