@page "/counter"
@page "/counter2"

@rendermode InteractiveServer
@using CSLLMCapstone.Models
@using CSLLMCapstone.Services
@using System.Threading.Tasks
@inject DbService Db

<PageTitle>Counter</PageTitle>

<h1>llm</h1>

<div class="mb-3">
    <label>Query:</label>
    <InputText @bind-Value="queryText" class="form-control" />
</div>

<div class="mb-3">
    <label>Result:</label>
    <label>@response</label>
</div>

<button class="btn btn-primary" @onclick="Query">Click me</button>

@code {

    private string queryText = "";

    private string response = "";



    private async Task Query()
    {
        int courseId = 427;
        List<string> str = await Db.GetTopicNamesByCourseIDAsnyc(courseId);
        LLM llm = new LLM(InstanceType.Flash, str);

        response = await llm.AskSync("generate flashcards as initial prompt. Each keyword sould be seperated by line-space");


    }
}
